<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated stl -->
      <package
            uri="http://www.example.org/stl"
            class="stl.StlPackage"
            genModel="stl.genmodel"/>
   </extension>

</plugin>
